/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2021, 12:38:16 AM
    Author     : HuuDepTrai
*/

body {
    padding: 2rem;
}
section#first {
    margin: 2rem 0;
    border-bottom: 1px solid #cccccc;
}
